name: tests

on:
  pull_request:
  push:
    branches:
      - '*'
    tags:
      - 'v*'

jobs:

  flake8:
    name: Flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Set Up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install flake8
      - name: Check
        run: python -m flake8

  mypy:
    name: MyPy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Setup Build Tools
        run: sudo apt-get install -y libkrb5-dev krb5-user krb5-kdc krb5-admin-server krb5-multidev
      - name: Set Up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install mypy .[all]
      - name: Check
        run: python -m mypy --install-types --non-interactive

  test:
    name: Test
    needs:
      - flake8
      - mypy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [ '3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Setup Build Tools
        run: sudo apt-get install -y libkrb5-dev krb5-user krb5-kdc krb5-admin-server krb5-multidev
      - name: Set Up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U setuptools wheel
          python -m pip install -U .[all] pytest-cov codecov
      - name: Run Tests
        run: python -m pytest --cov=httpx_gssapi --cov-report=xml
      - name: Upload Coverage
        run: python -m codecov --token=${{ secrets.CODECOV_TOKEN }}

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    name: Create Release
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - name: Set Up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U setuptools wheel
      - name: Build
        run: python setup.py sdist bdist_wheel
      - name: Change Log
        id: change_log
        run: >-
          echo "::set-output name=text::$(
          git --no-pager log --pretty=format:'- %s (%h)'
          `git describe --abbrev=0 --tags HEAD^1`..HEAD
          )"
      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref }}
          name: Release ${{ github.ref }}
          body: |
            Change Log:
            ${{ steps.change_log.outputs.text }}
          draft: true  # Give me a moment to fill in the description
          artifacts: "dist/*"
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
